/.idea
/core/vendor
/core/composer.lock
/docker/.env
/docker/mariadb
/frontend/node_modules
/frontend/.nuxt
/frontend/.eslintcache
/frontend/.stylelintcache
/frontend/.output
/frontend/dist
/frontend/package-lock.json
/tmp
/upload
/.env
/docker-compose.override.yml
