services:

  mariadb:
    ports:
      - ${MARIADB_PORT:-3333}:3306

  nginx:
    volumes:
      - ./docker/nginx/development:/etc/nginx/templates
    extra_hosts:
      - "vesp.test=host-gateway"

  php-fpm:
    environment:
      - PHP_IDE_CONFIG=serverName=VespDocker
    command: sh -c 'composer install && composer db:migrate && php-fpm'

  node:
    environment:
      - NODE_TLS_REJECT_UNAUTHORIZED=0
    command: sh -c 'rm -rf /tmp/* && npm i && npm run dev'