@import 'variables';

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index';

.page-enter-active, .page-leave-active, .layout-enter-active, .layout-leave-active {
  transition: opacity 0.1s
}

.page-enter, .page-leave-active, .layout-enter, .layout-leave-active {
  opacity: 0
}

.toasted-container {
  .toasted {
    padding: 0.75rem 1.25rem;
    border-radius: $border-radius;
    color: $white;
    &.success {
      background-color: rgba($success, 0.9);
    }
    &.info {
      background-color: rgba($info, 0.9);
    }
    &.error {
      background-color: rgba($danger, 0.9);
    }
  }
}